<h2>May all your manifestations come to fruition:</h2>
<%# <h3>Logged in User: <%= User.find(session[:user_id]).username  </h3> %>
    <% @dreams.each do |dream|%>
        <div>
            <ul>
                <li> <a href="/dreams/<%= dream.id %>"> 
                    <%= dream.title %><br>
                    <%= dream.entry_date %><br>
                    <%= dream.content %><br>
                    <br>
                </li>
            </ul>   
        </div>
    <% end %>


<%# -Have to create a if logged_in conditional statement %>
<%#-Have to create an entry id  %>

<%# Substitution Tags: displays /  Inserts the value of an expression <%=  @Words  %>

<%# ## Scripting Tags: only interpolated / Executes code, but does not insert a value   <% @Words %>
