<h2>Manifestation:</h2>

    <p>Title: <%= @dream.title %> </p>          <%# ? @dream.title : "Please provide a title" %>

    <p>Date: <%= @dream.entry_date %> </p>      <%# ? @dream.entry_date : "Please provide a date" %>

    <p>Manifestation: <%= @dream.content %></p> <%# ? @dream.content || "Please provide content" %>

    <% if @dream.user == current_user %>
        <p><a href="/dreams/<%= @dream.id%>/edit" style="font-size:12pt; color:blue;">Edit Manifestation</a></p>
        
        <form method="POST" action="/dreams/<%= @dream.id%>">
            <input type="hidden" name="_method" value="DELETE">
            Did you manifestation come true? Delete it here: <input type="submit" value="DELETE MANIFESTATION" style="font-size:10pt; color:red;">
        </form> <br>
    <% end %>


<%# <% if logged_in? %>
       <%# <h3>Current User:<%= current_user.username %> <%##referencing my method %>
    <%# <%end%>


<%# Show route which allows me to show one dream (writing ~manifestation~)

show title
Show content
show date
add user_id  %>

<%# Substitution Tags: displays /  Inserts the value of an expression <%=  @Words  %>

<%# ## Scripting Tags: only interpolated / Executes code, but does not insert a value   <% @Words %>
