 <p style="font-size:15pt"><strong>⋆ Title: </strong></p> <p style="font-size:13pt; text-indent: 30px;"> <%= @dream.title %> </p> 

<p style="font-size:15pt"><strong>✧ Goal date: </strong></p> <p style="font-size:13pt; text-indent: 30px;"> <%= @dream.entry_date %> </p>

<p style="font-size:15pt"><strong>▹ Manifestation: </strong></p> <p style="font-size:13pt; text-indent: 30px;"> <%= @dream.content %></p>

<br><p><a href="/dreams" style="text-decoration: none;"><strong>BACK TO HOMEPAGE</strong></a><p>

<% if @dream.user == current_user %>
    <p>━☆━☆━━☆━━☆━☆━━☆━━☆━☆━━☆━━☆━━☆━☆━━☆</p>
        <p><a href="/dreams/<%= @dream.id%>/edit" style="font-size:12pt; color:blue;">Edit Manifestation</a></p>
        
        <form method="POST" action="/dreams/<%= @dream.id%>">
            <input type="hidden" name="_method" value="DELETE">
            Did you manifestation come true? Delete it here: <input type="submit" value="DELETE MANIFESTATION" style="font-size:10pt; color:red;">
        </form>
<% end %>
